{% extends "base1.html" %}
{% block content %}
    <h1>Effects of Social Media</h1>
    <p>
        
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
<br>
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit,
nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida.
<br>
Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna.
Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi.
Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel
bibendum sapien massa ac turpis faucibus orci luctus non. <br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui.
Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Id cursus metus aliquam eleifend mi in nulla posuere.
Faucibus in ornare quam viverra orci sagittis eu volutpat odio. Integer malesuada nunc vel risus commodo viverra maecenas accumsan.
Curabitur sit amet massa sed arcu pellentesque tristique. Aenean at tristique lacus. Proin nec quam at nisl tincidunt congue. Nulla at volutpat diam, ut venenatis eros.
<br>
In iaculis mauris ut nisl tincidunt, at porta nisl eleifend. Duis blandit mi id lectus fringilla, at ullamcorper lorem commodo. Sed sed semper erat.
Praesent porta urna sit amet massa tempor, nec euismod urna dignissim. Etiam sodales justo non arcu fermentum, at sollicitudin sapien scelerisque. Suspendisse tempor,
ligula in tempus venenatis, nulla dui volutpat justo, at commodo nunc magna non elit. Vivamus vel quam at magna laoreet elementum. Pellentesque ac ligula in tellus feugiat facilisis.
Ut suscipit, ipsum at facilisis tincidunt, mauris velit suscipit urna, a dapibus sapien urna ut elit. Aenean id tortor purus. Vestibulum volutpat lacus vitae libero pharetra,
in lacinia libero finibus. Quisque et magna quis nisi eleifend lobortis ut a sapien. Aliquam erat volutpat. Phasellus a pulvinar elit, at facilisis quam.
<br>
Maecenas vitae ipsum a ligula tincidunt vehicula. Curabitur nec erat nisi. Duis in enim diam. Aenean convallis, risus eget hendrerit tincidunt, turpis justo aliquam nisi,
in egestas mi diam vel erat. Morbi in nisi cursus, tempor purus non, fermentum nulla. Integer in nisl eu arcu dictum varius.Morbi porta accumsan lacus, nec convallis sem fringilla at.
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin euismod purus vel sapien tincidunt, nec varius turpis efficitur.
Donec dapibus sollicitudin ante, non ultrices massa. Pellentesque habitant morbi tristique senectus et netus.Sed lacinia, odio nec fermentum convallis, sem urna dignissim massa,
id malesuada ex mi ut mi. Fusce et pulvinar elit. In ac vehicula elit, id tincidunt nisi. Integer congue eros id eros volutpat, nec faucibus lorem ultrices.
<br>
Nam placerat metus nec mi tincidunt, ac posuere orci ultricies.Aenean vehicula, risus a blandit blandit, libero eros fermentum nulla, ut convallis lorem nunc vel ex.
Morbi viverra rutrum turpis, nec luctus lorem vestibulum ac. Nunc malesuada sagittis nunc, vel dignissim purus. Nullam luctus feugiat sapien.
Etiam non eros eget nulla fermentum pretium.Donec eget nisi quis lacus tempor tristique. Cras convallis purus vel nulla fermentum, vitae viverra mauris faucibus. 
Aliquam erat volutpat. Nulla a egestas magna, at malesuada sem. Suspendisse potenti. Aenean sit amet nisi diam. Pellentesque in blandit sapien. Suspendisse potenti.
Nunc a sollicitudin eros. Suspendisse eget porta lacus. Curabitur nec bibendum sem. Pellentesque imperdiet odio quis magna faucibus rhoncus. Aenean eleifend, metus nec volutpat 
fermentum, lectus est condimentum sapien, nec elementum massa augue sed nisi. Integer fringilla fermentum velit.</p>


    <p><a href="/members">Meet Our Team</a></p>
{% endblock %}